body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-logo span {
    color: #2e2f42;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.nav-item :hover{
    color: #404bbf;

}
.nav-item :focus{
color: #404bbf;
}
.adres {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.hero-baner-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: #fff;
    text-align: center;
}
.adres :hover{
    color: #404bbf;
}
.adres :focus{
    color: #404bbf;
}

.hero-buton {
    background-color: #4D5AE5;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-buton:hover{
    background-color: #404BBF;
}

.hero-buton :focus{
    background-color: #404BBF;
}
.hero-baner {
    background-color: #2E2F42;
}

.h3-text {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.07;
    
}

.p-text {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;

}

.our-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}

.our-p {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;

}

.foter {
    background-color: #2E2F42;
}

.logo-foter {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-foter span {
    color: #4D5AE5;
}

.foter-p {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #fff;
}